.table_bg {
        background-color: #000000;
}
.table_head{
        background-color: #4E9038;
        color: #FFFFFF;
}
.table_col_0{
        background-color: #6EB058;
        color: #FFFFFF;
}
.table_col_1{
        background-color: #5EA048;
        color: #FFFFFF;
}
