/* usercss */

/* id:[45828]
   lm:[2010-07-10 16:43:14] */
P.p45828 {
  font-family:arial, helvetica, sans-serif;font-size:14px;color:#ffffff;background-color:transparent;
}
/* id:[45829]
   lm:[2010-07-10 16:43:23] */
P.p45829 {
  font-family:arial, helvetica, sans-serif;font-size:12px;color:#ffffff;background-color:transparent;
}
/* id:[46160]
   lm:[2010-07-10 16:43:37] */
P.p46160 {
  font-family:arial, helvetica, sans-serif;font-size:16px;color:#336633;background-color:transparent;
}
/* id:[46352]
   lm:[2010-07-10 16:43:45] */
P.p46352 {
  font-family:verdana, arial, helvetica, sans-serif;font-size:9px;color:#ffffff;background-color:transparent;
}

